---------------------------------------------------------------------------------------------------------------------

Dealership Application Requirements

In this section, we'll be using the actual requirements listed below to develop a dealership application:
1. A car is identified by its make, price, year, color and parts.
2. Each car must drive to the nearest exit.
3. The Dealership sells many types of cars.

---------------------------------------------------------------------------------------------------------------------